/* do not use css variables for an actual email. Please replace the variables with their correct values. */
:root { 
    --bg-main: #EEEEEE;
    --bg-white: #FFFFFF;
    --bg-test: pink;
    --bg-gray: #666666;
    --bg-rich-blue: #3D87F5;
    --font-main: sans-serif;
    --prop-radius: 5px;
}

.email-background {
    background: var(--bg-main);
    padding: 10px;
}

.email-container { 
    max-width: 500px;
    background: var(--bg-white);
    font-family: var(--font-main);
    margin: 0 auto;
    overflow: hidden;
    border-radius: var(--prop-radius);
    text-align: center;
}

.pre-header {
    max-width: 500px;
    background: var(--bg-main);
    color: var(--bg-main);
    font-size: 5px;
}

img { 
    max-width: 100%;
}

p { 
    margin: 20px;
    font-size: 18px;
    font-weight: 300;
    color: var(--bg-gray);
    line-height: 1.5;
}

.cta {
    margin: 20px;
}

.cta a { 
    text-decoration: none;
    display: inline-block;
    background: var(--bg-rich-blue);
    color: var(--bg-white);
    padding: 10px 20px;
    border-radius: var(--prop-radius);
}

.footer-junk {
    max-width: 500px;
    background: none;
    font-family: var(--font-main);
    margin: 0 auto;
    overflow: hidden;
    border-radius: var(--prop-radius);
    text-align: center;
    padding: 20px;
    font-size: 12px;
}